/* RESET */
* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

/* BACKGROUND FIX (NO GARIS) */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #f5f3ff;

  background: radial-gradient(
    ellipse at top,
    #7a46ff 0%,
    #3a1773 45%,
    #14081f 100%
  );

  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* PAGE */
.page {
  min-height: 100vh;
  padding: 40px 40px 80px;
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 50px;
}

.header h1 {  
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 64px;
  letter-spacing: 6px;
  margin: 0;
  text-shadow: 0 0 25px rgba(167, 139, 250, 0.847);
}

.header p {
  margin-top: 8px;
  font-size: 16px;
  color: #d3c5ff;
}

/* MAIN GRID */
.main {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
  align-items: start;
}

/* CARD */
.card {
  background: linear-gradient(180deg, #5e34d6, #3b1971);
  border-radius: 18px;
  padding: 18px;
  box-shadow: 0 14px 40px rgba(0,0,0,.4);
}

.card h3 {
  margin: 0 0 16px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #e5dcff;
}

/* MATCH */
.match {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  border-radius: 10px;
  background: rgba(255,255,255,0.10);
  margin-bottom: 10px;
}

.score {
  font-weight: 600;
  color: #d7c6ff;
}

/* LEADERBOARD */
.leaderboard .item {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  border-radius: 10px;
  background: rgba(255,255,255,0.12);
  margin-bottom: 10px;
  font-weight: 600;
}

.gold { color: #ffd700; }
.silver { color: #cfd8ff; }
.bronze { color: #ffb870; }

.pair {
  margin-bottom: 50px; /* jarak antar match beda */
}

.pair:last-child {
  margin-bottom: 0;
}
